@import "colour.scss";

section.list-gallery{
	padding: 60px 0;
	.nav-custom{
		border: none;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		.nav-item{
			.nav-link{
				border: none;
				border-radius: 0;
				font-family: 'Oswald', sans-serif;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
				display: inline-block;
				background: $white;
				font-weight: 700;
				font-size: 40px;
				padding: 0;
				padding-right: 30px;
				color: $grey;
				&:before{
					content: '';
					position: absolute;
					z-index: 3;
					top: 50%;
					right: 15px;
					width: 2px;
					height: 60%;
					transform: translateY(-50%);
					background: $grey;
				}
				&.active{
					color: $blue;
				}
			}
			&:last-child(){
				.nav-link{
					padding-right: 15px;
					&:before{
						display: none;
					}
				}
			}
		}
	}
	ul.nav-child{
		list-style: none;
		padding: 0;
		li{
			display: inline-block;
			button.category{
				border: none;
				font-family: 'Oswald', sans-serif;
				text-transform: uppercase;
				font-weight: 700;
				background: transparent;
				padding: 0;
				padding-right: 20px;
				color: $grey;
				&.active{
					color: $black;
				}
			}
		}
	}
	.tab-content-custom{
		.tab-pane{
			ul{
				list-style: none;
				padding: 30px 0;
				li{
					margin-bottom: 30px;
					.content{
						position: relative;
						display: block;
						overflow: hidden;
						border-radius: 10px;
						cursor: pointer;
						transition: .5s ease all;
						img{
							width: 100%;
						}
						.caption{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
							color: $white;
							background: rgba($black,.8);
							padding: 8px 15px;
							text-align: center;
							font-size: 16px;
							line-height: 18px;
							font-weight: 700;
							opacity: 0;
							transition: .5s ease all;
							i{
								font-size: 54px;
							}
						}
						&:hover{
							.caption{
								opacity: 1;
								transition: .5s ease all;
							}
						}
					}
				}
			}
			.cage-btn{
				text-align: center;
				button.load-more{
					border: 1px solid $grey;
					padding: 10px 90px;
					font-size: 13px;
					background: transparent;
					transition: .5s ease all;
					outline: none;
					box-shadow: none;
					&:hover{
						transition: .5s ease all;
						background: $blue;
						color: $white;
					}
				}
			}
		}
	}
}