@import "colour.scss";

section.slider{
	.swiper-container{
		width: 100%;
		height: 100vh;
		background: $blue;
		position: relative;
		.swiper-wrapper{
			&:before{
				content: '';
				position: absolute;
				z-index: 1;
				bottom: 40px;
				left: 80px;
				width: 100px;
				height: 1px;
				background: rgba($white,.9);
			}
			.swiper-slide{
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative;
				display: flex;
				align-items: center;
				padding: 100px 40px 100px 100px;
				&:before{
					content: '';
					background: linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%);
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 80%;
					z-index: 2;
				}
				&:after{
					content: '';
					background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%);
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 80%;
					z-index: 2;
				}
				&:nth-child(odd){
					text-align: left;
					justify-content: flex-start;
				}
				&:nth-child(even){
					text-align: right;
					justify-content: flex-end;
				}
				.description{
					position: relative;
					z-index: 3;
					width: 70%;
					.head-text{
						font-style: italic;
						color: rgba($white,.8);
						margin-bottom: 15px;
						font-weight: 300;
					}
					h1{
						color: $yellow;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 64px;
						line-height: 60px;
						margin-bottom: 5px;
					}
					h2{
						color: $white;
						font-weight: 300;
						font-size: 46px;
						line-height: 46px;
						margin-bottom: 15px;
					}
					.btn-slide{
						background: $blue;
						border: 1px solid $yellow;
						color: $white;
						padding: 4px 25px;
						border-radius: 15px;
						margin-bottom: 15px;
						transition: .5s ease all;
						&:hover{
							transition: .5s ease all;
							opacity: .8;
						}
					}
					.foot-text{
						text-transform: uppercase;
						color: rgba($white,.8);
						letter-spacing: 2px;
						font-weight: 300;
					}
				}
			}
		}
		.vertical-info{
			position: absolute;
			top: 50%;
			left: 50px;
			padding: 10px 100px 10px 50px;
			z-index: 3;
			width: 100vh;
			transform: translate(-50%, -50%) rotate(270deg);
			display: flex;
			justify-content: space-between;
			.socmed{
				a{
					display: inline-block;
					padding-left: 15px;
					color: rgba($white,.9);
					&:first-child(){
						padding-left: 0;
					}
					i{
						transform: rotate(90deg);
					}
				}
			}
			&:after{
				content: 'Ikuti Kami';
				text-transform: uppercase;
				letter-spacing: 5px;
				position: absolute;
				top: 50%;
				left: calc(45% + 30vh);
				transform: translate(-50%, -50%);
				color: rgba($white,.9);
			}
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 45%;
				transform: translate(-50%, -50%);
				width: 30vh;
				height: 1px;
				background: rgba($white,.9);
			}
		}
		.swiper-pagination{
			bottom: 20px;
			left: 200px;
			height: 50px;
			width: 50px;
			color: $white;
			display: flex;
			justify-content: space-evenly;
			align-items: flex-end;
			font-family: 'Oswald', sans-serif;
			.swiper-pagination-current{
				font-size: 52px;
				line-height: 52px;
				color: $yellow;
			}
		}
		.swiper-navigation{
			position: absolute;
			z-index: 3;
			bottom: 20px;
			right: 45px;
			color: $white;
			display: flex;
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 18px;
			.slide-button-prev{
				margin-right: 15px;
				&.swiper-button-disabled{
					opacity: .7;
				}
			}
			.slide-button-next{
				margin-left: 15px;
				&.swiper-button-disabled{
					opacity: .7;
				}
			}
		}
	}
}

section.latest-news{
	padding: 60px 0;
	.cage-title{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding-right: 20px;
		}
	}
	.list-news{
		padding: 30px 0;
	}
	.card-custom{
		border-radius: 15px;
		overflow: hidden;
		border: none;
		box-shadow:
		0 0px 2.2px rgba(0, 0, 0, 0.02),
		0 0px 5.3px rgba(0, 0, 0, 0.028),
		0 0px 10px rgba(0, 0, 0, 0.035),
		0 0px 17.9px rgba(0, 0, 0, 0.042),
		0 0px 33.4px rgba(0, 0, 0, 0.05),
		0 0px 80px rgba(0, 0, 0, 0.07)
		;
		.cage-image{
			overflow: hidden;
			display: block;
			img{
				transition: .5s ease all;
				width: 100%;
			}
			&:hover{
				img{
					transition: .5s ease all;
					transform: scale(1.2);
				}
			}
		}
		.date{
			padding: 15px 30px;
			background: $blue;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 20%;
				height: calc(100% + 1px);
				background: $white;
			}
			h3{
				margin: 0;
				font-weight: 300;
				font-size: 16px;
				color: $yellow;
			}
		}
		.description{
			padding: 15px;
			a.title{
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 20px;
				display: block;
				transition: .5s ease all;
				&:hover{
					transition: .5s ease all;
					color: $blue;
				}
			}
			a.btn-link{
				font-size: 14px;
				color: $grey;
				display: block;
				padding-left: 20px;
				position: relative;
				text-decoration: none;
				transition: .5s ease all;
				&:before{
					transition: .5s ease all;
					position: absolute;
					content: '';
					top: 50%;
					left: 0;
					width: 15px;
					height: 1px;
					background: $grey;
				}
				&:hover{
					transition: .5s ease all;
					color: $blue;
					&:before{
						transition: .5s ease all;
						background: $yellow;
					}
				}
			}
		}
	}
}

section.parallax{
	min-height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../../images/image3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding: 30px 0;
	.content{
		text-align: left;
		margin-bottom: 30px;
		h1{
			font-size: 52px;
			text-transform: uppercase;
			font-weight: 700;
			color: $yellow;
			text-align: left;
		}
		h2{
			font-size: 32px;
			text-transform: uppercase;
			font-weight: 300;
			color: $white;
			margin: 0;
			text-align: left;
		}
		img{
			width: 60%;
		}
	}
	.card-custom{
		padding: 30px;
		background: rgba($white,.4);
		border-radius: 10px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 15px;
			left: 15px;
			width: calc(100% - 30px);
			height: calc(100% - 30px);
			border: 2px solid $blue;
			border-radius: 10px;
		}
		.content{
			position: relative;
			z-index: 2;
			border-radius: 10px;
			margin-bottom: 0;
			.quotes{
				text-align: center;
				font-style: italic;
				color: $yellow;
				font-weight: 400;
				font-size: 24px;
				margin: 10px 0 30px;
			}
			h3{
				text-align: center;
				text-transform: uppercase;
				font-size: 32px;
				margin: 0;
				line-height: 32px;
				color: $blue;
			}
			h2{
				text-align: center;
				text-transform: uppercase;
				font-size: 52px;
				line-height: 56px;
				font-weight: 900;
				color: $blue;
				margin-bottom: 50px;
			}
			.bottom{
				background: $blue;
				position: relative;
				z-index: 2;
				padding: 30px 30% 15px 0;
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: -15px;
					width: calc(100% + 30px);
					height: calc(100% + 15px);
					border-radius: 0 0 10px 10px;
					background: $blue;
					z-index: -1;
				}
				.information{
					color: $white;
					text-align: right;
					margin-bottom: 15px;
				}
				.btn-form{
					background: $yellow;
					position: relative;
					z-index: 2;
					width: 100%;
					padding: 7px 15px;
					display: block;
					text-align: right;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 700;
					&:before{
						content: '';
						position: absolute;
						z-index: -1;
						top: 0;
						left: -15px;
						background: $yellow;
						width: calc(100% + 15px);
						height: 100%;
					}
				}
			}
		}
	}
}

section.grade{
	padding: 60px 0;
	background: $blue;
	.container-grade{
		display: flex;
		justify-content: space-evenly;
		.cage-grade{
			width: 20%;
			text-align: center;
			img{
				width: 110px;
				height: 110px;
				border-radius: 50%;
				margin-bottom: 15px;
			}
			h2{
				font-weight: bold;
				color: $yellow;
				font-size: 24px;
				margin-bottom: 5px;
				&.info{
					font-size: 16px;
					font-weight: 300;
					color: $grey;
					text-transform: uppercase;
				}
			}
		}
	}
}

section.reward{
	padding: 60px 0;
	.cage-title{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding-right: 20px;
		}
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 15px 0;
		li{
			padding: 15px 0;
			.image-featured{
				display: block;
				position: relative;
				overflow: hidden;
				border-radius: 10px;
				img{
					transition: .5s ease all;
				}
				.date{
					position: absolute;
					bottom: 15px;
					left: 0;
					width: 70%;
					text-align: right;
					background: rgba($black,.8);
					color: $white;
					padding: 8px 15px;
					font-size: 14px;
					transition: .5s ease all;
				}
				&:hover{
					img{
						transition: .5s ease all;
						transform: scale(1.2);
					}
					.date{
						transition: .5s ease all;
						background: rgba($blue,.8);
					}
				}
			}
			.description{
				&:hover{
					p{
						transition: .5s ease all;
						color: $blue;
					}
				}
				a.title{
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 10px;
					display: block;
					transition: .5s ease all;
					&:hover{
						transition: .5s ease all;
						color: $blue;
					}
				}
				p{
					font-size: 14px;
					color: $grey;
					transition: .5s ease all;
				}
				a.btn-link{
					font-size: 14px;
					color: $grey;
					display: block;
					padding-left: 20px;
					position: relative;
					text-decoration: none;
					transition: .5s ease all;
					&:before{
						transition: .5s ease all;
						position: absolute;
						content: '';
						top: 50%;
						left: 0;
						width: 15px;
						height: 1px;
						background: $grey;
					}
					&:hover{
						transition: .5s ease all;
						color: $blue;
						font-weight: 700;
						&:before{
							transition: .5s ease all;
							background: $yellow;
						}
					}
				}
			}
		}
	}
}

section.testimoni{
	min-height: 50vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding: 30px 0;
	display: flex;
	align-items:center;
	h1.title{
		text-align: center;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		color: $yellow;
		text-transform: uppercase;
		font-size: 32px;
		margin-bottom: 30px;
		span{
			color: $white;
		}
	}
	.cage-swiper-testimoni{
		position: relative;
		.swiper-testimoni{
			.swiper-wrapper{
				.swiper-slide{
					.content{
						display: flex;
						padding: 0 15px;
						.description{
							padding-right: 30px;
							.name{
								color: $white;
								font-size: 18px;
								line-height: 18px;
								font-weight: 700;
							}
							.now{
								color: $yellow;
								font-size: 14px;
								font-weight: 300;
								margin-bottom: 10px;
							}
							.quotes{
								color: $grey;
								font-size: 13px;
								font-weight: 300;
								text-align: justify;
							}
						}
						.avatar{
							display: block;
							img{
								width: 150px;
								height: 150px;
								border-radius: 50%;
							}
						}
					}
					&:nth-child(odd){
						.content{
							flex-direction: row;
						}
					}
					&:nth-child(even){
						.content{
							padding-top: 60px;
							flex-direction: row-reverse;
							.description{
								padding-right: 0;
								padding-left: 30px;
							}
						}
					}
				}
			}
		}
		.swiper-testimoni-button-prev{
			position: absolute;
			top: 50%;
			left: -15px;
			transform: translateY(-50%);
			color: $white;
			font-size: 24px;
			outline: none;
			&.swiper-button-disabled{
				opacity: .6;
			}
		}
		.swiper-testimoni-button-next{
			position: absolute;
			top: 50%;
			right: -15px;
			transform: translateY(-50%);
			color: $white;
			font-size: 24px;
			outline: none;
			&.swiper-button-disabled{
				opacity: .6;
			}
		}
	}
}

section.partnership{
	padding: 30px 0;
	.cage-title{
		position: relative;
		text-align: center;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding: 0 20px;
		}
	}
	.cage-swiper-partnership{
		padding: 30px 0;
		position: relative;
		.swiper-partnership{
			.swiper-wrapper{
				.swiper-slide{
					.icon{
						display: block;
						text-align: center;
						img{
							max-width: 150px;
							width: 100%;
						}
					}
				}
			}
		}
		.swiper-partnership-button-prev{
			position: absolute;
			top: 50%;
			left: -15px;
			transform: translateY(-50%);
			color: $grey;
			font-size: 24px;
			outline: none;
			&.swiper-button-disabled{
				opacity: .6;
			}
		}
		.swiper-partnership-button-next{
			position: absolute;
			top: 50%;
			right: -15px;
			transform: translateY(-50%);
			color: $grey;
			font-size: 24px;
			outline: none;
			&.swiper-button-disabled{
				opacity: .6;
			}
		}
	}
}