// bower:scss
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

//Colour & nav
@import "colour.scss";
@import "nav.scss";

//Pages
@import "home.scss";
@import "page.scss";
@import "news.scss";
@import "gallery.scss";

// Responsive
@import "responsive.scss";
@import "responsive-home.scss";
@import "responsive-news.scss";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Perpetua', serif;

body{
    font-family: 'Roboto', sans-serif;
    cursor: context-menu;
    overflow-x: hidden;
    background: $white;
    .nicescroll-rails-vr .nicescroll-cursors {
        background: linear-gradient(to bottom, rgba($blue,1) 0%, rgba($yellow,1) 100%);
    }
    main{
        overflow: hidden;
        min-height: 100vh;
    }
    &.overflow-y-hidden{
        overflow-y: hidden !important;
    }
}


a{
    color: inherit;
    text-decoration: none;
    outline: none !important;
    &:hover{
        text-decoration: none;
        color: inherit;
    }
    &:visited{
        text-decoration: none;
        color: inherit; 
    }
    &:link{
        text-decoration: none;
        color: inherit; 
    }
    &:active{
        text-decoration: none;
        color: inherit; 
        outline: none !important;
        box-shadow: none;
    }
}

.btn{
    outline: none !important;
    &:focus,&:active{
        outline: none !important;
        box-shadow: none;
    }
}

.form-control{
    outline: none !important;
    &:focus{
        border-color: $blue !important;  
        outline: none !important;
        box-shadow: none !important;
    }
}

.pagging{
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 20px;
    .pagination{
        position: absolute;
        left: 50%;
        top: 0;
        transform:translateX(-50%);
        .page-item{
            border:none;
            margin: 0;
            .page-link{
                background: $white;
                color: $black;
                display: block;
            }
        }
        .active{
            .page-link{
                outline: none;
                background: $blue;
                color: $white !important;
            }
        }
        .disabled{
            .page-link{
                background:$grey;
            }
        }
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    .container-header{
        padding: 0 30px;
        .col-logo{
            .logo{
                display: flex;
                align-items: center;
                padding: 15px 0;
                img{
                    height: 60px;
                    width: auto;
                    margin-right: 15px; 
                }
                .text{
                    font-family: 'Perpetua', serif;
                    color: $white;
                    .first{
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 24px;
                        line-height: 20px;
                    }
                    .second{
                        text-transform: uppercase;
                        letter-spacing: 4.5px;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
        .col-menu{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            transition: .5s ease all;
            .menu{
                ul{
                    list-style: none;
                    display: block;
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    li{
                        padding:0;
                        float: left;
                        position: relative;
                        z-index: 0;
                        a{
                            padding: 8px 15px;
                            display: block;
                            text-transform: uppercase;
                            font-weight: 500;
                            transition: .5s ease all;
                            color: $white;
                            letter-spacing: 1px;
                        }
                        ul{
                            display: none;
                            position: absolute;
                            background: $white;
                            color: $grey;
                            left: 0;
                            top: 100%;
                            width: 100%;
                            min-width: 180px;
                            padding: 15px;
                            li{
                                float: none;
                                &:last-child(){
                                    a{
                                        border-bottom: none;
                                    }
                                }
                                a{
                                    padding: 10px 25px 10px 0px;
                                    display: block;
                                    text-transform: uppercase;
                                    color: $grey;
                                    border-bottom: 1px solid rgba($grey,.6);
                                }
                                ul{
                                    position: absolute;
                                    left: 100%;
                                    top: -1px;
                                    border-radius: 0;
                                    border:none;
                                    padding: 15px 15px 15px 30px;
                                    li{
                                        float: none;
                                        display: none;
                                        &:last-child(){
                                            a{
                                                border-bottom: none;
                                            }
                                        }
                                        a{
                                            border-bottom: 1px solid rgba($grey,.6);
                                        }
                                    }
                                }
                                &.child{
                                    outline: none;
                                    &:before{
                                        content: '\f105';
                                        font-family: 'Font Awesome 5 Free';
                                        font-weight: bold;
                                        position: absolute;
                                        top: 50%;
                                        right: 10px;
                                        transform:translateY(-50%);
                                    }
                                }
                            }
                        }
                        &.active{
                            a{
                                color: $yellow;
                            }
                        }
                        &:hover{
                            a{
                                color: $yellow;
                                transition: .5s ease all;
                            }
                            ul{
                                display: block;
                                z-index: 2;
                                li{
                                    a{
                                        color: $grey;
                                    }
                                    &:hover{
                                        a{
                                            color: $blue;
                                        }
                                        ul{
                                            display: block;
                                            li{
                                                border-radius: 0;
                                                display: block;
                                                &:last-child(){
                                                    a{
                                                        border-bottom: none;
                                                    }
                                                }
                                                a{
                                                    color: $grey;
                                                    border-bottom: 1px solid rgba($grey,.6);
                                                    &:hover{
                                                        color: $blue;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    ul{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.mobile-active{
                transition: .5s ease all;
                right: 0;
                background: $blue;
                height: 100%;
                padding-top: 90px;
                .menu{
                    width: 100%;
                    height: 100%;
                    ul{
                        li{
                            float: unset;
                            position: relative;
                            outline: none;
                            a{
                                padding: 8px 60px 8px 15px;
                            }
                            &.child{
                                &:before{
                                    content: '\f067';
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: bold;
                                    position: absolute;
                                    top: 10px;
                                    right: 30px;
                                    color: $white;
                                }
                                &.changed{
                                    &:before{
                                        content: '\f068';
                                        font-family: 'Font Awesome 5 Free';
                                        font-weight: bold;
                                        position: absolute;
                                        top: 10px;
                                        right: 30px;
                                        color: $white;
                                    }  
                                }
                                ul{
                                    outline: none;
                                    position: relative;
                                    display: none;
                                    padding: 0 15px;
                                    top: 0;
                                    background: transparent;
                                    &.active{
                                        display: block;
                                        li{
                                            outline: none;
                                            a{
                                                padding: 8px 45px 8px 0px;
                                            }
                                            &.child2{
                                                position: relative;
                                                float: unset;
                                                a{
                                                    color: $grey;
                                                }
                                                &:before{
                                                    content: '\f067';
                                                    font-family: 'Font Awesome 5 Free';
                                                    font-weight: bold;
                                                    position: absolute;
                                                    top: 10px;
                                                    right: 15px;
                                                    color: $grey;
                                                }
                                                &.changed{
                                                    &:before{
                                                        content: '\f068';
                                                        font-family: 'Font Awesome 5 Free';
                                                        font-weight: bold;
                                                        position: absolute;
                                                        top: 10px;
                                                        right: 15px;
                                                        color: $grey;
                                                    }
                                                    ul{
                                                        position: relative;
                                                        display: block;
                                                        padding: 0 45px 0 15px;
                                                        top: 0;
                                                        background: transparent;
                                                        outline: none;
                                                        li{
                                                            display: block;
                                                            outline: none;
                                                            a{
                                                                padding: 8px 0;
                                                            }
                                                            &:hover{
                                                                border: none;
                                                            }
                                                        }
                                                    } 
                                                }
                                                ul{
                                                    position: relative;
                                                    display: none;
                                                    padding: 0;
                                                    top: 0;
                                                    background: transparent;
                                                    &.active-child{
                                                        display: block;
                                                        left: 0;
                                                        li{
                                                            &:hover{
                                                                border: none;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    background: $blue;
    .top-content{
        padding: 30px 0 10px;
        border-bottom: 1px solid $grey;
        .description{
            .logo{
                display: flex;
                align-items: center;
                padding: 15px 0 25px;
                img{
                    height: 60px;
                    width: auto;
                    margin-right: 15px; 
                }
                .text{
                    font-family: 'Perpetua', serif;
                    color: $white;
                    .first{
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 24px;
                        line-height: 20px;
                    }
                    .second{
                        text-transform: uppercase;
                        letter-spacing: 4.5px;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
            p{
                font-size: 13px;
                color: $grey;
            }
            ul{
                list-style: none;
                padding: 0;
                color: $white;
                li{
                    a{
                        display: block;
                        font-size: 13px;
                        padding: 3px 0;
                        color: $grey;
                        transition: .5s ease all;
                        i{
                            margin-right: 10px;
                        }
                        &:hover{
                            color: $yellow;
                            transition: .5s ease all;
                        }
                    }
                }
            }
            ul.socmed{
                display: flex;
                padding-left: 30px;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 30px;
                    height: 1px;
                    background: $grey;
                }
                li{
                    a{
                        display: block;
                        padding: 0 10px;
                        font-size: 18px;
                        text-align: center;
                        i{
                            margin: 0;
                        }
                    }
                }
            }
        }
        .list-link{
            h1.title{
                font-size: 20px;
                color: $white;
                padding: 15px 0 25px;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    a{
                        display: block;
                        padding: 5px 10px 5px 15px;
                        position: relative;
                        font-size: 14px;
                        color: $grey;
                        transition: .5s ease all;
                        &:before{
                            content: '\f054';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            font-family: 'Font Awesome 5 Free';
                            font-weight: bold;
                            transform: translateY(-50%);
                            font-size: 10px;
                            color: $yellow;
                        }
                        &:hover{
                            color: $yellow;
                            transition: .5s ease all;
                        }
                    }
                }
            }
        }
        .location{
            h1.title{
                font-size: 20px;
                color: $white;
                padding: 15px 0 25px;
            }
        }
    } 
    .copyright{
        padding: 15px 0;
        p{
            color: $white;
            font-size: 11px;
            text-align: center;
            margin: 0;
            span{
                color: $yellow;
            }
        }
    }
}

section.pre-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../../images/image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10vh;
    .container{
        h1.title{
            font-family: 'Oswald', sans-serif;
            color: $yellow;
            text-transform: uppercase;
            font-size: 64px;
        }
        .breadcrumbs{
            display: flex;
            a{
                display: block;
                padding: 0 8px;
                color: $white;
                font-size: 14px;
                line-height: 12px;
                font-weight: 300;
                color: $grey;
                border-right: 1px solid $grey;
                transition: .5s ease all;
                &:hover{
                    color: $yellow;
                    transition: .5s ease all;
                }
                &:first-child(){
                    padding-left: 0;
                }
                &:last-child(){
                    padding-right: 0;
                    border-right: none;
                }
            }
        }
    }
}