@import "colour.scss";

section.news-list{
	padding: 60px 0;
	.cage-title{
		position: relative;
		margin-bottom: 25px;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding-right: 20px;
		}
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			padding: 30px 0;
			border-bottom: 1px solid $grey;
			.image-featured{
				display: block;
				position: relative;
				overflow: hidden;
				border-radius: 10px;
				img{
					transition: .5s ease all;
				}
				.date{
					position: absolute;
					bottom: 15px;
					left: 0;
					width: 70%;
					text-align: right;
					background: rgba($black,.8);
					color: $white;
					padding: 8px 15px;
					font-size: 14px;
					transition: .5s ease all;
				}
				&:hover{
					img{
						transition: .5s ease all;
						transform: scale(1.2);
					}
					.date{
						transition: .5s ease all;
						background: rgba($blue,.8);
					}
				}
			}
			.description{
				&:hover{
					p{
						transition: .5s ease all;
						color: $blue;
					}
				}
				a.title{
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 10px;
					display: block;
					transition: .5s ease all;
					&:hover{
						transition: .5s ease all;
						color: $blue;
					}
				}
				p{
					font-size: 14px;
					color: $grey;
					transition: .5s ease all;
				}
				a.btn-link{
					font-size: 14px;
					color: $grey;
					display: block;
					padding-left: 20px;
					position: relative;
					text-decoration: none;
					transition: .5s ease all;
					&:before{
						transition: .5s ease all;
						position: absolute;
						content: '';
						top: 50%;
						left: 0;
						width: 15px;
						height: 1px;
						background: $grey;
					}
					&:hover{
						transition: .5s ease all;
						color: $blue;
						font-weight: 700;
						&:before{
							transition: .5s ease all;
							background: $yellow;
						}
					}
				}
			}
			&:last-child(){
				border-bottom: 0;
			}
		}
	}
	.cage-btn{
		text-align: center;
		margin-top: 30px;
		button.load-more{
			border: 1px solid $grey;
			padding: 10px 90px;
			font-size: 13px;
			background: transparent;
			transition: .5s ease all;
			outline: none;
			box-shadow: none;
			&:hover{
				transition: .5s ease all;
				background: $blue;
				color: $white;
			}
		}
	}
}

section.news-detail{
	padding: 60px 0;
	.cage-title{
		position: relative;
		margin-bottom: 25px;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding-right: 20px;
		}
	}
	.image-featured{
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 30px;
		img{
			width: 100%;
		}
	}
	.sidebar-cage-title{
		position: relative;
		margin-bottom: 10px;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding-right: 20px;
			font-size: 18px;
		}
	}
	ul.sidebar-news{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			border-bottom: 1px solid $grey;
			padding: 10px 0;
			.image-featured{
				display: block;
				position: relative;
				overflow: hidden;
				border-radius: 10px;
				margin-bottom: 0;
				img{
					transition: .5s ease all;
				}
				&:hover{
					img{
						transition: .5s ease all;
						transform: scale(1.2);
					}
				}
			}
			.description{
				padding-left: 10px;
				padding-top: 10px;
				a.title{
					font-size: 13px;
					line-height: 14px;
					font-weight: 700;
					margin-bottom: 10px;
					display: block;
					transition: .5s ease all;
					&:hover{
						transition: .5s ease all;
						color: $blue;
					}
				}
				a.btn-link{
					font-size: 10px;
					color: $grey;
					display: block;
					padding-left: 20px;
					position: relative;
					text-decoration: none;
					transition: .5s ease all;
					&:before{
						transition: .5s ease all;
						position: absolute;
						content: '';
						top: 50%;
						left: 0;
						width: 15px;
						height: 1px;
						background: $grey;
					}
					&:hover{
						transition: .5s ease all;
						color: $blue;
						font-weight: 700;
						&:before{
							transition: .5s ease all;
							background: $yellow;
						}
					}
				}
			}
			&:last-child(){
				border-bottom: 0;
			}
		}
	}
	.content{
		font-size: 16px;
		.left{
			h2{
				font-weight: bold;
				font-size: 16px;
			}
			h3{
				font-size: 14px;
				color: $grey;
			}
		}
		.share{
			padding: 10px 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			a{
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				width: 25px;
				height: 25px;
				color: $grey;
				border: 1px solid $grey;
				margin: 0 5px;
				transition: .5s ease all;
				&:hover{
					transition: .5s ease all;
					color: blue;
				}
				&:first-child(){
					margin-left: 0;
				}
				&:last-child(){
					margin-right: 0;
				}
			}
		}
	}
	.form-group{
		.form-control-sm{
			border-radius: 0;
			border-color: $grey;
		}
	}
	.btn-grouping{
		.btn-submit{
			border: 1px solid $grey;
			border-radius: 0;
			transition: .5s ease all;
			&:hover{
				background: $blue;
				color: $white;
				transition: .5s ease all;
			}
		}
		.btn-reset{
			border: 1px solid $grey;
			border-radius: 0;
			transition: .5s ease all;
			&:hover{
				background: $yellow;
				transition: .5s ease all;
			}
		}
	}
}