@import "colour.scss";

section.page-content{
	padding: 60px 0;
	.cage-title{
		position: relative;
		margin-bottom: 25px;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		h1.title{
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: inline-block;
			background: $white;
			padding-right: 20px;
		}
	}
	.content{
		font-size: 16px;
	}
	.content-card{
		ul{
			list-style: none;
			padding: 0;
			li{
				.card-custom{
					position: relative;
					border-radius: 10px;
					overflow: hidden;
					border: none;
					padding: 10px;
					box-shadow:
					0 0px 2.2px rgba(0, 0, 0, 0.02),
					0 0px 5.3px rgba(0, 0, 0, 0.028),
					0 0px 10px rgba(0, 0, 0, 0.035),
					0 0px 17.9px rgba(0, 0, 0, 0.042),
					0 0px 33.4px rgba(0, 0, 0, 0.05),
					0 0px 80px rgba(0, 0, 0, 0.07)
					;
					.cage-image{
						border-radius: 5px;
						overflow: hidden;
						margin-bottom: 15px;
						img{
							width: 100%;
							transition: .5s ease all;
						}
						&:hover{
							img{
								transform: scale(1.2);
								transition: .5s ease all;
							}
						}
					}
					.title{
						font-size: 18px;
						line-height: 20px;
						font-weight: 700;
						margin-bottom: 30px;	
					}
					&:before{
						content: '';
						position: absolute;
						bottom: 20px;
						left: 10px;
						width: 20%;
						height: 1px;
						background: $grey;
					}
				}
			}
		}
	}
	.nav-custom{
		border: none;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 0;
			width: 100%;
			height: 1px;
			background: $grey;
		}
		.nav-item{
			.nav-link{
				border: none;
				border-radius: 0;
				font-family: 'Oswald', sans-serif;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
				display: inline-block;
				background: $white;
				font-weight: 700;
				font-size: 40px;
				padding: 0;
				padding-right: 30px;
				color: $grey;
				&:before{
					content: '';
					position: absolute;
					z-index: 3;
					top: 50%;
					right: 15px;
					width: 2px;
					height: 60%;
					transform: translateY(-50%);
					background: $grey;
				}
				&.active{
					color: $blue;
				}
			}
			&:last-child(){
				.nav-link{
					padding-right: 15px;
					&:before{
						display: none;
					}
				}
			}
		}
	}
	.tab-content-custom{
		.tab-pane{
			ul{
				list-style: none;
				padding: 30px 0;
				li{
					margin-bottom: 30px;
					.content{
						position: relative;
						display: block;
						overflow: hidden;
						border-radius: 10px;
						cursor: pointer;
						transition: .5s ease all;
						img{
							width: 100%;
						}
						.caption{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							color: $white;
							background: rgba($black,.8);
							padding: 8px 15px;
							font-weight: 700;
							opacity: 0;
							transition: .5s ease all;
						}
						&:hover{
							.caption{
								opacity: 1;
								transition: .5s ease all;
							}
						}
					}
				}
			}
			.cage-btn{
				text-align: center;
				button.load-more{
					border: 1px solid $grey;
					padding: 10px 90px;
					font-size: 13px;
					background: transparent;
					transition: .5s ease all;
					outline: none;
					box-shadow: none;
					&:hover{
						transition: .5s ease all;
						background: $blue;
						color: $white;
					}
				}
			}
		}
	}
}