@import "colour.scss";

// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
			section.news-list{
				ul{
                    li{
                        .image-featured{
                            margin-bottom: 15px;
                        }
                    }
                }
			}
			section.news-detail{
				.content{
					margin-bottom: 60px;
					.share{
						justify-content: flex-start;
					}
				}
				ul.sidebar-news{
					li{
						.description{
							padding: 10px 5px;
						}
					}
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
			section.news-list{
				ul{
                    li{
                        .image-featured{
                            margin-bottom: 15px;
                        }
                    }
                }
			}
			section.news-detail{
				.content{
					margin-bottom: 60px;
					.share{
						justify-content: flex-start;
					}
				}
				ul.sidebar-news{
					li{
						.description{
							padding: 10px 5px;
						}
					}
				}
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{
			section.news-list{
				ul{
                    li{
                        .image-featured{
                            margin-bottom: 15px;
                        }
                    }
                }
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{

		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}