@import "colour.scss";

// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
            section.slider{
                .swiper-container{
                    .vertical-info{
                        &:before{
                            width: 20vh;
                        }
                    }
                    .swiper-wrapper{
                        &:before{
                            left: 60px;
                            width: 20px;
                        }
                        .swiper-slide{
                            padding-right: 25px;
                            padding-left: 80px;
                            .description{
                                width: 100%;
                                h1{
                                    font-size: 32px;
                                    line-height: 32px;
                                }
                                h2{
                                    font-size: 28px;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                    .swiper-pagination{
                        left: 90px;
                    }
                    .swiper-navigation{
                        right: 25px;
                    }
                }
            }
            section.parallax{
                background-attachment: unset !important;
                .content{
                    text-align: center;
                    h1{
                        text-align: center;
                        font-size: 32px;
                    }
                    h2{
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .card-custom{
                    .content{
                        .quotes{
                            font-size: 18px;
                        }
                        h2{
                            font-size: 40px;
                        }
                        h3{
                            font-size: 24px;
                        }
                    }
                }
            }
            section.grade{
                .container-grade{
                    flex-wrap: wrap;
                    .cage-grade{
                        width: 50%;
                        margin-bottom: 15px;
                        img{
                            margin-bottom: 5px;
                        }
                        h2{
                            &.info{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            section.reward{
                ul{
                    li{
                        .image-featured{
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            section.testimoni{
                background-attachment: unset !important;
                min-height: 30vh;
                .cage-swiper-testimoni{
                    padding: 0 15px;
                    .swiper-testimoni{
                        .swiper-wrapper{
                            .swiper-slide{
                                .content{
                                    .description{
                                        padding-right: 0;
                                        text-align: center;
                                    }
                                }
                                .avatar{
                                    text-align: center;
                                    margin-bottom: 10px;
                                }
                                &:nth-child(odd){
                                    .content{
                                        padding-top: 15px;
                                        flex-direction: column-reverse;
                                    }
                                }
                                &:nth-child(even){
                                    .content{
                                        padding-top: 15px;
                                        flex-direction: column-reverse;
                                        .description{
                                            padding-right: 0;
                                            padding-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .swiper-testimoni-button-prev{
                        left: 0;
                    }
                    .swiper-testimoni-button-next{
                        right: 0;
                    }
                }
            }
            section.partnership{
                .cage-swiper-partnership{
                    padding: 30px;
                    .swiper-partnership-button-prev{
                        left: 0;
                    }
                    .swiper-partnership-button-next{
                        right: 0;
                    }
                }
            }
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
            section.slider{
                .swiper-container{
                    .swiper-wrapper{
                        &:before{
                            left: 70px;
                            width: 40px;
                        }
                        .swiper-slide{
                            padding-right: 25px;
                            padding-left: 80px;
                            .description{
                                width: 100%;
                                h1{
                                    font-size: 32px;
                                    line-height: 32px;
                                }
                                h2{
                                    font-size: 28px;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                    .swiper-pagination{
                        left: 120px;
                    }
                    .swiper-navigation{
                        right: 25px;
                    }
                }
            }
            section.parallax{
                background-attachment: unset !important;
                background-position: right center;
                .content{
                    text-align: center;
                    h1{
                        text-align: center;
                        font-size: 32px;
                    }
                    h2{
                        text-align: center;
                        font-size: 24px;
                    }
                }
                .card-custom{
                    .content{
                        .quotes{
                            font-size: 18px;
                        }
                        h2{
                            font-size: 40px;
                        }
                        h3{
                            font-size: 24px;
                        }
                    }
                }
            }
            section.grade{
                .container-grade{
                    flex-wrap: wrap;
                    .cage-grade{
                        width: 50%;
                        margin-bottom: 15px;
                    }
                }
            }
            section.reward{
                ul{
                    li{
                        .image-featured{
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            section.testimoni{
                min-height: 30vh;
                background-attachment: unset !important;
                .cage-swiper-testimoni{
                    padding: 0 15px;
                    .swiper-testimoni{
                        .swiper-wrapper{
                            .swiper-slide{
                                .content{
                                    .description{
                                        padding-right: 0;
                                        text-align: center;
                                    }
                                }
                                .avatar{
                                    text-align: center;
                                    margin-bottom: 10px;
                                }
                                &:nth-child(odd){
                                    .content{
                                        padding-top: 15px;
                                        flex-direction: column-reverse;
                                    }
                                }
                                &:nth-child(even){
                                    .content{
                                        padding-top: 15px;
                                        flex-direction: column-reverse;
                                        .description{
                                            padding-right: 0;
                                            padding-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .swiper-testimoni-button-prev{
                        left: 0;
                    }
                    .swiper-testimoni-button-next{
                        right: 0;
                    }
                }
            }
            section.partnership{
                .cage-swiper-partnership{
                    padding: 30px;
                    .swiper-partnership-button-prev{
                        left: 0;
                    }
                    .swiper-partnership-button-next{
                        right: 0;
                    }
                }
            }
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{

		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
            section.parallax{
                background-attachment: unset !important;
            }
            section.grade{
                .container-grade{
                    .cage-grade{
                        img{
                            width: 80px;
                            height: 80px;
                        }
                        h2{
                            font-size: 16px;
                            &.info{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            section.reward{
                ul{
                    li{
                        .image-featured{
                            .date{
                                font-size: 10px;
                            }
                        }
                        .description{
                            a.title{
                                font-size: 16px;
                            }
                            p{
                                font-size: 12px;
                            }
                            a.btn-link{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            section.testimoni{
                min-height: 30vh;
                background-attachment: unset !important;
                .cage-swiper-testimoni{
                    .swiper-testimoni{
                        .swiper-wrapper{
                            .swiper-slide{
                                .content{
                                    .description{
                                        padding-right: 15px;
                                    }
                                }
                                &:nth-child(odd){
                                    .content{
                                        padding-top: 15px;
                                        flex-direction: row;
                                    }
                                }
                                &:nth-child(even){
                                    .content{
                                        padding-top: 15px;
                                        flex-direction: row;
                                        .description{
                                            padding-right: 15px;
                                            padding-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}