@import "colour.scss";

// Extra small devices (portrait phones, less than 341px)
@media (max-width: 341.98px) {
	body{
		main{
            header{
                .container-header{
                    padding: 0 15px;
                    .col-logo{
                        .logo{
                            padding-left: 10px;
                            img{
                                height: 50px;
                            }
                            .text{
                                .first{
                                    font-size: 14px;
                                    line-height: 14px;
                                }
                                .second{
                                    font-size: 12px;
                                    line-height: 12px;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                    .col-menu{
                        position: fixed;
                        top: 0;
                        right: -100%;
                        height: 100%;
                        padding-top: 90px;
                        display: block;
                        .menu{
                            width: 100%;
                            height: 100%;
                            ul{
                                li{
                                    float: unset !important;
                                    position: relative;
                                }
                            }
                        }
                        &.mobile-active{
                            width: calc(100% - 90px);
                        }
                    }
                }
            }
            footer{
                .copyright{
                    p{
                        font-size: 9px;
                    }
                }
            }
            section.pre-header{
                background-attachment: unset !important;
                .container{
                    h1.title{
                        font-size: 46px;
                        line-height: 46px;
                    }
                }
            }
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 342px) and (max-width: 575.98px) {
	body{
		main{
            header{
                .container-header{
                    padding: 0 15px;
                    .col-logo{
                        .logo{
                            padding-left: 10px;
                            img{
                                height: 50px;
                            }
                            .text{
                                .first{
                                    font-size: 18px;
                                    line-height: 18px;
                                }
                                .second{
                                    font-size: 14px;
                                    line-height: 14px;
                                    letter-spacing: 2.2px;
                                }
                            }
                        }
                    }
                    .col-menu{
                        position: fixed;
                        top: 0;
                        right: -100%;
                        height: 100%;
                        padding-top: 90px;
                        display: block;
                        .menu{
                            width: 100%;
                            height: 100%;
                            ul{
                                li{
                                    float: unset !important;
                                    position: relative;
                                }
                            }
                        }
                        &.mobile-active{
                            width: calc(100% - 90px);
                        }
                    }
                }
            }
            section.pre-header{
                background-attachment: unset !important;
                .container{
                    h1.title{
                        font-size: 54px;
                        line-height: 54px;
                    }
                }
            }
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		main{
            header{
                .container-header{
                    .col-menu{
                        position: fixed;
                        top: 0;
                        right: -100%;
                        height: 100%;
                        padding-top: 90px;
                        display: block;
                        .menu{
                            width: 100%;
                            height: 100%;
                            ul{
                                li{
                                    float: unset !important;
                                    position: relative;
                                }
                            }
                        }
                        &.mobile-active{
                            width: 50%;
                        }
                    }
                }
            }
             section.pre-header{
                background-attachment: unset !important;
            }
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	body{
		main{
			header{
                .container-header{
                    .col-menu{
                        position: fixed;
                        top: 0;
                        right: -100%;
                        height: 100%;
                        padding-top: 90px;
                        display: block;
                        .menu{
                            width: 100%;
                            height: 100%;
                            ul{
                                li{
                                    float: unset !important;
                                    position: relative;
                                }
                            }
                        }
                        &.mobile-active{
                            width: 50%;
                        }
                    }
                }
            }
            footer{
                .top-content{
                    .description{
                        .logo{
                            padding-left: 10px;
                            img{
                                height: 50px;
                            }
                            .text{
                                .first{
                                    font-size: 14px;
                                    line-height: 14px;
                                }
                                .second{
                                    font-size: 10px;
                                    line-height: 10px;
                                    letter-spacing: 2.2px;
                                }
                            }
                        }
                    }
                    .list-link{
                        h1.title{
                            font-size: 16px;
                        }
                        ul{
                            li{
                                a{
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .location{
                        h1.title{
                            font-size: 16px;
                        }
                    }
                }
            }
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}